
.ui-header .ui-title{
	font-size: 1.5em !important;
	padding: 0.2em 0em 0.2em 0.5em !important;
	margin: 0em !important;
	text-align: left !important;
}
.ui-content {
	padding: 0.1em 0.5em 0.1em 0.5em !important;
}
.ui-content h1{
	margin: 0em 0em 0.2em 0em !important;
}
.ui-panel {
    width: 10em;
}


/* breakpoint at 30em */
@media (min-width: 30em){
	.ui-header .ui-title{
		margin: auto !important;
		text-align: center !important;
	}
	.ui-content {
		padding-left: 5em !important;
		padding-right: 5em !important;
	}
}