body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  color: #ffffff;
}

.MuiPaper-root {

}

.MainWrapper {
  background: linear-gradient(#DD0000, #440000);
}

.MenuUser {
  background-color: #ab0000; 
  color: #ffffff;
}
Button {
  color: #333333;
}