
body {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ui-header .ui-title{
	font-size: 1.5em !important;
	padding: 0.2em 0em 0.2em 0.5em !important;
	margin: 0em !important;
	text-align: left !important;
}
.ui-content {
	padding: 0.1em 0.5em 0.1em 0.5em !important;
}
.ui-content h1{
	margin: 0em 0em 0.2em 0em !important;
}
.ui-panel {
    width: 12em;
}


/* breakpoint at 30em */
@media (min-width: 30em){
	.ui-header .ui-title{
		margin: auto !important;
		text-align: center !important;
	}
	.ui-content {
		padding-left: 5em !important;
		padding-right: 5em !important;
	}
}


/***************************************/
/*         Content                     */
/***************************************/
div.table{
	width: 80%;
	height: 25px;
}
div.table div{
	display: inline-block;
}
div.table div.wide{
	width: 30%;
}
div.table div.small{
	width: 15%;
}


/***************************************/
/*         Knockout stage              */
/***************************************/
div.knockoutstage{
	display: table-row;
}
div.knockoutstage>div{
	display: table-cell;
	vertical-align: middle;
}
div.knockoutstage li{
	display: table-row;
}

div.knockoutstage div.outercell{
	display: table-cell; 
	vertical-align: middle;
}
div.knockoutstage div.match{ 
	height:8em; 
	width:1em; 
	border: 2px solid #440000;
	background: #660000;
}
div.knockoutstage div.match div{
	visibility: hidden;
}
.outercell ul{
	padding:0em;
}
div.cell{
	padding:0.1em;
}
div.stage2 div.cell{
	padding-bottom:3em;
	padding-top:3em;
}
div.stage2 div.match{
	height:10em;
}

div.stage3 div.match{
	height:16em;
}
div.stage4 div.match{
	height:11em;
}
div.stage4 div.cell{
	padding-top:2em;
}
div.stage4 div.outercell{
	padding-top:8em;
}


div.knockoutteam{
	width: 100%;
	height: 20%;
	text-align: center;
}
div.knockoutteam select{
	width: 90%;
}
div.knockoutcenter{
	width: 100%;
	height: 60%;
	text-align: center;
}
div.knockout_center div.match_number{
	position: relative;
	text-align: center;
	font-size: 0.7em;
}
div.knockout_center div.match_score{
	position: relative;
	text-align: center;
}

/* compressing rounds*/
div.stage1 div.match {
	width: 6.5em;
}

div.stage1 div.match div{
	visibility: visible;
}