/***************************************/
/*           Styles                    */
/***************************************/
body{
	font-family: Dosis,Helvetica,Arial,sans-serif;
	font-size: 1em;
	color:#eee;
	text-shadow:0  1px  1px  #111 ;
	
	background-image:-webkit-gradient(linear,left top,left bottom,from( #d00 ),to( #400 )); 
	background-image:-webkit-linear-gradient( #d00,#400 ); 
	background-image:   -moz-linear-gradient( #d00,#400 ); 
	background-image:    -ms-linear-gradient( #d00,#400 ); 
	background-image:     -o-linear-gradient( #d00,#400 ); 
	background-image:        linear-gradient( #d00,#400 );
	background-attachment: fixed;

}
body>div>header{
	font-weight: bold;
	color: #fff;
	text-shadow:0  -1px  1px  #000000;
	background:#fff;
	-webkit-box-shadow: 0 0 10px 5px #000, inset  0 -1px 2px #000;
	   -moz-box-shadow: 0 0 10px 5px #000, inset  0 -1px 2px #000;
	        box-shadow: 0 0 10px 5px #000, inset  0 -1px 2px #000;
}
header h1{
	color: #000;
	font-size: 1.8em;
	text-decoration: none;
	text-shadow:0  0px  1px  #888;
}
header nav li{
	border-right: 2px solid #999;
}
header nav li.noborder{
	border-right: none;
}
header nav li a{
	color: #000;
	font-size: 0.8em;
	text-decoration: none;
	text-shadow:0  0px  1px  #888;
}
header nav li a:hover {
	color:#d00;
}
header nav li a:active {
	color:#d00;
}
article h1{
	font-size: 1.8em;
	margin-top: 20px;
	margin-bottom: 0px;
}
article h2{
	font-size: 1.4em;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 4px;
}
article h3{
	font-size: 1.2em;
	margin-top: 0px;
	margin-bottom: 4px;
}
article>nav>a{
	color: #eee;
	font-size: 0.8em;
	text-decoration: none;
	text-shadow:0  0px  1px  #888;
}
article>nav>a:hover {
	color:#800;
}
div.table_heading{
	font-weight: bold;
}

@media screen and (max-width: 800px){
	header h1{
		font-size: 1.4em;
	}
}
@media screen and (max-width: 400px){
	body div.content{
		font-size: 0.8em;
	}
}
@media screen and (max-height: 400px){
	header h1{
		font-size: 1.4em;
	}
}
