/***************************************/
/*         Group stage                 */
/***************************************/
div.group{
	display: inline-block;
	width: 335px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 40px;
}
article.print div.group{
	margin-bottom: 10px;
}
div.groupwinner{
	margin-top: 5px;
	height: 25px;
}
div.groupwinner select{
	float: right;
	width: 160px;
	height: 23px;
}
div.group_team_left{
	display: inline-block;
	width: 30%;
}
div.group_team_right{
	display: inline-block;
	width: 30%;
	text-align: right;
}
div.group_center{
	display: inline-block;
	width: 33%;
	text-align: center;
}
div.group_center input{
	width: 20px;
}
div.group_center img{
	width: 20px;
}
@media screen and (max-width: 800px){
	div.group{
		width: 90%;
		margin-left: 5px;
		margin-right: 5px;
	}
	div.groupwinner select{
		width: 50%;
	}
}



/***************************************/
/*         Knockout                    */
/***************************************/
div.ko1{
	margin-bottom: 10px;
	line-height: 30px;
}
article.print div.ko1{
	margin-bottom: 5px;
	line-height: 26px;
}
div.ko1 select{
	width: 195px;
	height: 25px;
}



div.ko{
	width: 100%;
}
div.ko_stage{
	display: inline-block;
	width: 13.8%;
	vertical-align: middle;
}
div.ko_stage>div{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #400;
	background: #600;
}
div.ko_stage>div.ko_empty{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 60px;
	border: none;
	background: none;
}

div.eight{
	margin-top: 0px;
	margin-bottom: 0px;
}
div.quarter{
	margin-top: 20px;
	margin-bottom: 20px;
}
div.semi{
	margin-top: 60px;
	margin-bottom: 60px;
}
div.final{
	margin-top: 10px;
	margin-bottom: 10px;
}
div.ko_center input{
	width: 20px;
}

@media screen and (max-width: 800px){
	div.ko1 select{
		width: 45%;
	}
	div.ko_stage{
		width: 80px;
	}
}
@media screen and (max-width: 400px){
	div.group_team_left{
		width: 25%;
	}
	div.group_team_right{
		width: 25%;
	}
	div.group_center{
		width: 45%;
	}
}