body{
	font-family: Dosis,Helvetica,Arial,sans-serif;
	color:#EEEEEE;
}
div[data-role=fixed-header]{
	font-weight: bold;
	color: #000000;
	text-shadow:0  -1px  1px  #000000;
	background: #FFFFFF;
	-webkit-box-shadow: 0 0 10px 5px #000000, inset  0 -1px 2px #000000;
	   -moz-box-shadow: 0 0 10px 5px #000000, inset  0 -1px 2px #000000;
	        box-shadow: 0 0 10px 5px #000000, inset  0 -1px 2px #000000;
}
div[data-role=content]{
	text-shadow:0  1px  1px  #111 ;
	background-image:-webkit-gradient(linear,left top,left bottom,from( #D00 ),to( #400 )); 
	background-image:-webkit-linear-gradient( #DD0000,#440000 ); 
	background-image:   -moz-linear-gradient( #DD0000,#440000 ); 
	background-image:    -ms-linear-gradient( #DD0000,#440000 ); 
	background-image:     -o-linear-gradient( #DD0000,#440000 ); 
	background-image:        linear-gradient( #DD0000,#440000 );
	background-attachment: fixed;
}
div[data-role=fixed-footer]{
	color: #000000;
	font-size: 0.6em;
	text-shadow:0  -1px  1px  #000000;
	background: #FFFFFF;
	-webkit-box-shadow: 0 0 10px 5px #000000, inset  0 -1px 2px #000000;
	   -moz-box-shadow: 0 0 10px 5px #000000, inset  0 -1px 2px #000000;
	        box-shadow: 0 0 10px 5px #000000, inset  0 -1px 2px #000000;
}
.btn{
	background-color: #EEEEEE;
	border-color: #AAAAAA;
	color: #222222;
}
div[data-role=popup]{
	color: #222222;
	background: #FAFAFA;
	box-shadow: 0 0 12px 3px #000000;
}

h1{
	font-size: 1.8em;
}
h2{
	margin: 0.8em 0 0.3em 0;
}


.boxed{
	border: solid 1px #FFFFFF;
	background-image:-webkit-gradient(linear,left top,left bottom,from( #880000 ),to( #BB0000 )); 
	background-image:-webkit-linear-gradient( #880000,#BB0000 ); 
	background-image:   -moz-linear-gradient( #880000,#BB0000 ); 
	background-image:    -ms-linear-gradient( #880000,#BB0000 ); 
	background-image:     -o-linear-gradient( #880000,#BB0000 ); 
	background-image:        linear-gradient( #880000,#BB0000 );
	-webkit-box-shadow: 0px 0px 4px 1px #000000;
	   -moz-box-shadow: 0px 0px 4px 1px #000000;
	        box-shadow: 0px 0px 4px 1px #000000;
}



/******************************************************************************/
/* Groupstage                                                                 */
/******************************************************************************/
.groups{
	text-align: center;
}
.group{
	display: inline-block;
	width: 30%;
	min-width: 265px;
	margin: 0 20px 20px 0;
	padding: 5px;
}
.group h3{
	margin: -5px 0 5px 0;
	text-align: left;
}
.group .match{
	height: 32px;
	cursor: pointer;
}


.group .match .teamname{
	display: inline-block;
	width: 28%;
	font-size: 1.2em;
	text-align: left;
}
.group .match .teamname.text-right{
	text-align: right;
}
.group .match div.teamicon{
	display: inline-block;
	width: 8%;
	text-align: left;
}
div.teamicon img{
	width: 100%;
}
.group .match .score{
	display: inline-block;
	width: 20%;
	text-align: center;
}



/******************************************************************************/
/* Knockout stage                                                             */
/******************************************************************************/
.knockoutstage{
	text-align: center;
}
.stage{
	position: relative;
	display: inline-block;
	width: 22%;
	margin-top: -10px;
	height: 418px;
}
.collapsed{
	width: 7%;
	font-size: 0.8em;
}
.spacer{
	position: relative;
	display: inline-block;
	width: 4px;
	height: 418px;
	margin: -10px -2px 0 -2px;
}
.spacer img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.spacer img.flip-ud-lr{
	-moz-transform: scale(-1,-1);
    -o-transform: scale(-1,-1);
    -webkit-transform: scale(-1,-1);
    transform: scale(-1,-1);
    filter: FlipHV;
    -ms-filter: "FlipHV";
}

.knockoutstage .matches{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	width: 100%;
}


.knockoutstage .matches .match{
	position: relative;
	height: 120px;
	margin: 10px 0;
	cursor: pointer;
}
.roundof16 .matches .match{
	height: 90px;
}
.quarterfinal .matches .match{
	margin: 85px 0;
}
.semifinal .matches .match{
	margin: 0 0 90px 0;
}
.semifinal-right .matches .match{
	margin: 85px 0 0 0;
}

.knockoutstage .match .teamname-top{
	position: absolute;
	top: 5px;
	width: 100%;
}
.knockoutstage .match .teamname-bot{
	position: absolute;
	bottom: 5px;
	width: 100%;
}
.knockoutstage .match .centered{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	width: 100%;
}
.knockoutstage .match .teamicon{
	display: inline-block;
	width: 20%;
	min-width: 20px;
	max-width: 40px;
	text-align: left;
}
.knockoutstage .match .score{
	display: inline-block;
	width: 50%;
	min-width: 45px;
}
